body{
background:black;
color:#e0c9ff;
font-family:Arial;
padding:20px;
}

button{
background:#c18bff;
padding:10px;
border:none;
cursor:pointer;
}

input,select{
padding:8px;
margin:5px;
}
